<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mobilemania">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AdminLogin"></activity>
        <activity android:name=".yourOrders" />
        <activity android:name=".ViewPayment" />
        <activity android:name=".payment" />
        <activity android:name=".checkout" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UserAccount" />
        <activity android:name=".Login" />
        <activity android:name=".UserMain" />
        <activity android:name=".AdminMenu" />
        <activity android:name=".Registration" />
        <activity android:name=".ItemList"/>
        <activity android:name=".LoginItemList"/>
        <activity android:name=".ItemMainActivity"/>
        <activity android:name=".assign_delivery"/>
        <activity android:name=".UpdateDeliverer" />
        <activity android:name=".SearchDeliverer" />
        <activity android:name=".ListCreditors" />
        <activity android:name=".DelivereyHome" />
        <activity android:name=".AddDeliverer" />
    </application>

</manifest>